[ArchivesSpace]
baseurl = http://localhost:8089
repository = 101
username = admin
password = admin

[DART]
dart = /path/to/DART
workflow = Workflow Name
bagging_directory = /path/to/.dart/bags


[AWS]
region_name = us-east-1
access_key = 123456789
secret_key = 987654321
bucket = rac-iiif

[Ignore]
ignore_list = /path/to/ignore_list.txt